.footer {
  background-color: #24445c;
  color: white;
  text-align: center;
  padding: 1px 10px;
  margin-top: 60px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Suppression des effets pouvant provoquer du flou */
  /* backface-visibility: hidden; */
  /* transform: translate3d(0,0,0); */
  /* will-change: transform; */

  /* Optionnel : améliore la netteté sur certains navigateurs */
  text-rendering: geometricPrecision;
}

.footer a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.footer a:hover {
  color: #ffcc00;
}

.footer-content p {
  margin: 3px 0;
}

.footer-links {
  margin-top: 10px;
}
